@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-secondary: #1E1E1E;
  --color-accent: #0064E0;
  --color-background: #050505;
  --color-text: #F5F5F5;

  --font-sans: "Archivo", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Raleway", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
